<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- prevent favicon request (https://stackoverflow.com/a/13416784) -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title>FORMS</title>
        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <link rel="stylesheet" href="vendor/bulma-0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="vendor/bulma-0.7.2/css/bulma.css" integrity="sha256-dMQYvN6BU9M4mHK94P22cZ4dPGTSGOVP41yVXvXatws=" crossorigin="anonymous" />
            {% endif %}
        {% else %}
            {% if settings.production %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
            {% else %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" integrity="sha256-dMQYvN6BU9M4mHK94P22cZ4dPGTSGOVP41yVXvXatws=" crossorigin="anonymous" />
            {% endif %}
        {% endif %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>

        <div id="app">
            <transition name="fade">
                <!-- component matched by the route will render here -->
                <router-view></router-view>
            </transition>
        </div>

        <script type="text/javascript">
            window.__INITIAL_STATE__ = '{{ initialState | raw }}';
            let initialState = JSON.parse(window.__INITIAL_STATE__);
        </script>

        {% if settings.localVendorAssets %}
            {% if settings.production %}
        <script src="vendor/vue/2.5.21/vue.min.js" integrity="sha256-ui3vFTgbIIvd9ePh+wF+ju05O3jympV4FyFlpNMV2cw=" crossorigin="anonymous"></script>
        <script src="vendor/vue-router/3.0.2/vue-router.min.js" integrity="sha256-DbgluxFcJqBgeVJwF1idcvA2aeayczQBWJPGn4KZIEc=" crossorigin="anonymous"></script>
        <script src="vendor/vue-resource-1.5.0/vue-resource.min.js" integrity="sha256-e9WxLR4DOP5XKMT4mflXVovZS4mVdiMkAFSDHF+6q80=" crossorigin="anonymous"></script>
        <script src="vendor/FileSaver.js-2.0.0/dist/FileSaver.min.js" integrity="sha256-5Fv+LQlkb6dD3pAHzJb7FLI1iSqJE9GCza+HQtcI06k=" crossorigin="anonymous"></script>
        <script src="vendor//date-fns/1.30.1/date_fns.min.js" integrity="sha256-wCBClaCr6pJ7sGU5kfb3gQMOOcIZNzaWpWcj/lD9Vfk=" crossorigin="anonymous"></script>
            {% else %}
        <script src="vendor/vue/2.5.21/vue.js" integrity="sha256-TuNPk8D8FMWPo5dDIBWwBuu+lxtA7yyN+i8LmHQudrc=" crossorigin="anonymous"></script>
        <script src="vendor/vue-router/3.0.2/vue-router.js" integrity="sha256-ZXuDnCcIq0+1FwNaovtHEPcdRFEQK10rzx+lYtxxJh8=" crossorigin="anonymous"></script>
        <script src="vendor/vue-resource-1.5.0/vue-resource.js" integrity="sha256-65r7bET363amdMrrizpE4H+N9OWh/aDrLWq2UWoqxlg=" crossorigin="anonymous"></script>
        <script src="vendor/FileSaver.js-2.0.0/dist/FileSaver.js" integrity="sha256-MNQjKIWLZPsLeq3j0xMBYPNDh1Q/+1YeX171Msc6WqI=" crossorigin="anonymous"></script>
        <script src="vendor/date-fns/1.30.1/date_fns.js" integrity="sha256-Up7eABHDPfisYNkMbk3BSJFTuxImIZt2+97gU/Am8zA=" crossorigin="anonymous"></script>
            {% endif %}
        {% else %}
            {% if settings.production %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js" integrity="sha256-ui3vFTgbIIvd9ePh+wF+ju05O3jympV4FyFlpNMV2cw=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.2/vue-router.min.js" integrity="sha256-DbgluxFcJqBgeVJwF1idcvA2aeayczQBWJPGn4KZIEc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js" integrity="sha256-e9WxLR4DOP5XKMT4mflXVovZS4mVdiMkAFSDHF+6q80=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.0/dist/FileSaver.min.js" integrity="sha256-5Fv+LQlkb6dD3pAHzJb7FLI1iSqJE9GCza+HQtcI06k=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha256-wCBClaCr6pJ7sGU5kfb3gQMOOcIZNzaWpWcj/lD9Vfk=" crossorigin="anonymous"></script>
            {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.js" integrity="sha256-TuNPk8D8FMWPo5dDIBWwBuu+lxtA7yyN+i8LmHQudrc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.2/vue-router.js" integrity="sha256-ZXuDnCcIq0+1FwNaovtHEPcdRFEQK10rzx+lYtxxJh8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js" integrity="sha256-65r7bET363amdMrrizpE4H+N9OWh/aDrLWq2UWoqxlg=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.0/dist/FileSaver.js" integrity="sha256-MNQjKIWLZPsLeq3j0xMBYPNDh1Q/+1YeX171Msc6WqI=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js" integrity="sha256-Up7eABHDPfisYNkMbk3BSJFTuxImIZt2+97gU/Am8zA=" crossorigin="anonymous"></script>
            {% endif %}
        {% endif %}

        <!-- app section -->
        <script src="scripts/api.js"></script>
        <script src="scripts/validator.js"></script>
        <script src="scripts/mixins.js"></script>
        <script src="scripts/vue-auth.js"></script>
        <script src="scripts/vue-sectioncontainer.js"></script>
        <script src="scripts/components/section-api-error.js"></script>
        <script src="scripts/vue-home.js"></script>
        <script src="scripts/vue-topmenu.js"></script>
        <script src="scripts/components/section-breadcrumb.js"></script>
        <script src="scripts/components/export-button.js"></script>
        <script src="scripts/components/pagination-controls.js"></script>
        <script src="scripts/components/table-controls.js"></script>
        <script src="scripts/components/table-header-field.js"></script>
        <script src="scripts/components/search-text-field.js"></script>
        <script src="scripts/components/search-number-field.js"></script>
        <script src="scripts/components/search-date-field.js"></script>
        <script src="scripts/components/search-user-account-type-field.js"></script>
        <script src="scripts/components/dialog-confirm-remove.js"></script>
        <script src="scripts/components/dialog-export.js"></script>
        <script src="scripts/components/users-management.js"></script>
        <script src="scripts/components/user-card.js"></script>
        <script src="scripts/components/groups-management.js"></script>
        <script src="scripts/components/group-card.js"></script>
        <script src="scripts/vue-attributes.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/vue-app.js"></script>
        <!-- app section -->

    </body>
</html>
